<main>
   <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-lg-10 col-md-5 d-flex flex-column align-items-center justify-content-center">
                  <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block">Admin</span> </a></div>
                  <div class="card mb-3">
                     <div class="card-body">
                        <div class="pt-4 pb-2">
                           <h5 class="card-title text-center pb-0 fs-4">Crear Cuenta</h5>
                           <p class="text-center small">Ingresa tus datos personales</p>
                        </div>
                        <form class="row g-3 needs-validation" novalidate>
                           <div class="col-12">
                              <select class="form-select" aria-label="Default select example">
                                 <option selected>Selecciona Comuna</option>
                                 <option *ngFor="let comuna of listcomunas" [value]="comuna.id_comuna">{{ comuna.nombre }}</option>
                              </select>           
                           </div>
                           <div class="col-md-12">
                              <div class="form-floating"> <input type="email" class="form-control" id="floatingEmail" placeholder="Your Email"> <label for="floatingEmail">Junta Vecinal</label></div>
                           </div>
                           <div class="col-md-12">
                              <div class="form-floating"> <input type="email" class="form-control" id="floatingEmail" placeholder="Your Email"> <label for="floatingEmail">Ingresa Nombre</label></div>
                           </div>
                           <div class="col-md-12">
                              <div class="form-floating"> <input type="email" class="form-control" id="floatingEmail" placeholder="Your Email"> <label for="floatingEmail">Apellidos</label></div>
                           </div>
                           <div class="col-md-12">
                              <div class="form-floating"> <input type="email" class="form-control" id="floatingEmail" placeholder="Your Email"> <label for="floatingEmail">Correo</label></div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-floating"> <input type="password" class="form-control" id="floatingPassword" placeholder="Password"> <label for="floatingPassword">Ingrese Contraseña</label></div>
                           </div>
                            <div class="col-md-6">
                               <div class="form-floating"> <input type="password" class="form-control" id="floatingPassword" placeholder="Password"> <label for="floatingPassword">Repetir Contraseña</label></div>
                            </div>
                           <div class="col-md-12">
                              <label for="inputDate" class="col-sm-5 col-form-label">Fecha Nacimiento</label>
                              <div class="col-sm-12"> <input type="date" class="form-control"></div>
                           </div>
                           <div class="col-md-12">
                              <div class="form-floating"> <input type="text" class="form-control" id="floatingEmail" placeholder="Your Email"> <label for="floatingEmail">Direccion</label></div>
                           </div>
                           <div class="col-md-12">
                              <p>Debe adjuntar alguna evidencia de luz o agua para verificar su veracidad.</p>
                              <div class="col-sm-12"> <input class="form-control" type="file" id="formFile"></div>
                           </div>
                           <div class="col-12"> 
                              <button class="btn btn-primary w-100" type="submit">Crear Cuenta</button>
                           </div>
                           <div class="col-12">
                              <p class="small mb-0 text-center">Ya tienes cuenta? <a routerLink="/login">Iniciar Sesion</a></p>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</main>