textarea {
    height: 100px
}
/* Estilos personalizados para SweetAlert2 */
.swal2-popup.swal2-toast {
    box-sizing: border-box;
    grid-column: 1/4 !important;
}
.highlight-error {
    color: red;
}
.is-valid:not(:focus):not(:placeholder-shown):not([readonly]) {
    border-color: #dc3545;
}
.is-invalid {
    border-color: red !important;
}
.form-control.is-valid~.valid-feedback::before {
    display: none !important;
  }
  .hide-check::after {
    display: none;
  }
