<main>
   <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
         <div class="container">
            <header id="header" class="header fixed-top align-items-center ">
               <div class="d-flex  ">
                  <div class="p-2 flex-grow-1"><a class="navbar-brand" style="color:#012970">
                        <h3>Junt<i class="bi bi-arrow-up-left-circle-fill"></i> a UnClick</h3>
                     </a></div>
                  <div class="p-2 flex-grow-1"></div>
                  <div class="ms-auto p-2 "><button class="btn btn-outline-danger" (click)="navigate('login')"><i
                           class="bi bi-box-arrow-right"></i> Atrás</button></div>
               </div>
            </header>
            <div class="row justify-content-center">
               <div class="col-lg-10 col-md-5 d-flex flex-column align-items-center justify-content-center py-5">
                  <div class="card mb-3">
                     <div class="card-header text-center">
                        <div class="text-light" style="font-size: 5em ;"><i class="bi bi-person-plus-fill"></i></div>
                      </div>
                     <div class="card-body">
                        <div class="pt-2 pb-1">
                           <h5 class="card-title text-center pb-0 fs-4">Crear Cuenta</h5>
                           <p class="text-center small">Ingresa tus datos personales</p>
                        </div>
                        <form class="row g-3" [formGroup]="parentForm">
                           <div class="col-12" (onchange)="onchangeJuntavecinal($event)">
                              <label for="">Seleccionar Comuna</label>
                              <select class="form-select" (change)="onComunaSelected($event)">
                                <option disabled selected>Selecciona una opción</option>
                                <option *ngFor="let comuna of listcomunas" [value]="comuna.id_comuna">{{comuna.nombre}}</option>
                              </select>
                              <div class="invalid-feedback">(*) Campo Obligatorio</div>
                            </div>
                            
                            <div class="col-md-12" >
                              <label for="">Seleccionar Junta vecinal</label>
                              <select class="form-select" aria-label="Default select example"(change)="onchangeJuntavecinal($event)">
                                <option disabled selected>Selecciona una opción</option>
                                <option *ngFor="let junta of listJuntaVecinal" [value]="junta.id_junta_vecinal">{{ junta.razon_social}}</option>
                              </select>
                            </div>
                           <div class="col-md-6">
                              <div class="form-floating"> <input type="text" class="form-control" id="p_nomb_veci"  formControlName="p_nomb_veci" [ngClass]="{ 'is-invalid': submitted && parentForm.controls['p_nomb_veci'].errors }"
                                    placeholder="Ingresa Primer Nombre"> <label for="floatingEmail" for="p_nomb_veci">Ingresa Primer Nombre</label>
                                    <div *ngIf="submitted && parentForm.controls['p_nomb_veci'].errors" class="invalid-feedback">
                                       <div *ngIf="parentForm.controls['p_nomb_veci'].errors?.['required']">(*) Campo Obligatorio!</div>
                                       <div *ngIf="parentForm.controls['p_nomb_veci'].errors?.['pattern']">Solo letras</div>
                                    </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-floating"> <input type="text" class="form-control" id="s_nomb_veci"  formControlName="s_nomb_veci" [ngClass]="{ 'is-invalid': submitted && parentForm.controls['s_nomb_veci'].errors }"
                                    placeholder="Ingresa Segundo Nombre"> <label for="floatingEmail">Ingresa Segundo Nombre</label>
                                    <div *ngIf="submitted && parentForm.controls['s_nomb_veci'].errors" class="invalid-feedback">
                                       <div *ngIf="parentForm.controls['s_nomb_veci'].errors?.['required']">(*) Campo Obligatorio!</div>
                                       <div *ngIf="parentForm.controls['s_nomb_veci'].errors?.['pattern']">Solo letras</div>
                                    </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-floating"> <input type="text" class="form-control" id="ap_pat_veci"  formControlName="ap_pat_veci" [ngClass]="{ 'is-invalid': submitted && parentForm.controls['ap_pat_veci'].errors }"
                                    placeholder="Your Email"> <label for="floatingEmail">Apellido Paterno</label>
                                    <div *ngIf="submitted && parentForm.controls['ap_pat_veci'].errors" class="invalid-feedback">
                                       <div *ngIf="parentForm.controls['ap_pat_veci'].errors?.['required']">(*) Campo Obligatorio!</div>
                                       <div *ngIf="parentForm.controls['ap_pat_veci'].errors?.['pattern']">Solo letras</div>
                                    </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-floating"> <input type="text" class="form-control" id="ap_mat_veci"  formControlName="ap_mat_veci" [ngClass]="{ 'is-invalid': submitted && parentForm.controls['ap_mat_veci'].errors }"
                                    placeholder="Your Email"> <label for="floatingEmail">Apellidos Materno</label>
                                    <div *ngIf="submitted && parentForm.controls['ap_mat_veci'].errors" class="invalid-feedback">
                                       <div *ngIf="parentForm.controls['ap_mat_veci'].errors?.['required']">(*) Campo Obligatorio!</div>
                                       <div *ngIf="parentForm.controls['ap_mat_veci'].errors?.['pattern']">Solo letras</div>
                                    </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-floating"> <input type="text" class="form-control" id="rut_vecino" formControlName="rut_vecino" (input)="formatearRut($event)" [ngClass]="{ 'is-invalid': submitted && parentForm.controls['rut_vecino'].errors }"
                                    placeholder="Rut"> <label for="rut_vecino">Ingrese Rut</label>
                                    <div *ngIf="submitted && parentForm.controls['rut_vecino'].errors" class="invalid-feedback">
                                       <div *ngIf="parentForm.controls['rut_vecino'].errors?.['required']">(*) Campo Obligatorio!</div>
                                       <div *ngIf="parentForm.controls['rut_vecino'].errors?.['rutnovalido']">Rut invalido</div>
                                     </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-floating"> <input type="email" class="form-control" id="correo_veci"  formControlName="correo_veci" [ngClass]="{ 'is-invalid': submitted && parentForm.controls['correo_veci'].errors }"
                                    placeholder="Correo"> <label for="correo_veci" >Correo</label>
                                    <div *ngIf="submitted && parentForm.controls['correo_veci'].errors" class="invalid-feedback">
                                       <div *ngIf="parentForm.controls['correo_veci'].errors?.['required']">(*) Campo Obligatorio!</div>
                                       <div *ngIf="parentForm.controls['correo_veci'].errors?.['email']">Correo invalido</div>
                                     </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-floating"> <input type="password" class="form-control" id="clave_veci"  formControlName="clave_veci" [ngClass]="{ 'is-invalid': submitted && parentForm.controls['clave_veci'].errors }"
                                  placeholder="Password"> <label for="clave_veci">IngreseContraseña</label>
                                  <div *ngIf="submitted && parentForm.controls['clave_veci'].errors" class="invalid-feedback">
                                    <div *ngIf="parentForm.controls['clave_veci'].errors?.['required']">(*) Campo Obligatorio!</div>
                                  </div>
                                 </div> 
                           </div>
                           <div class="col-md-6">
                              <div class="form-floating"> <input type="password" class="form-control" id="clave_veci_conf"  formControlName="clave_veci_conf" [ngClass]="{ 'is-invalid': submitted && parentForm.controls['clave_veci_conf'].errors }"
                                  placeholder="Password"> <label for="clave_veci_conf">RepetirContraseña</label>
                                  <div *ngIf="submitted && parentForm.controls['clave_veci_conf'].errors" class="invalid-feedback">
                                    <div *ngIf="parentForm.controls['clave_veci_conf'].errors?.['required']">(*) Campo Obligatorio!</div>
                                  </div> 
                                 </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-floating"> <input type="number" class="form-control" id="telefono"  formControlName="telefono" [ngClass]="{ 'is-invalid': submitted && parentForm.controls['telefono'].errors }"
                                    placeholder="Ingrese Numero Celular"> <label for="telefono">Ingrese Numero Celular</label>
                                    <div *ngIf="submitted && parentForm.controls['telefono'].errors" class="invalid-feedback">
                                       <div *ngIf="parentForm.controls['telefono'].errors?.['required']">(*) Campo Obligatorio!</div>
                                       <div *ngIf="parentForm.controls['telefono'].errors?.['pattern']">Debe Ingresar con el +569</div>
                                     </div>
                                 </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-floating"> <input type="text" class="form-control" id="dirreccion_veci" formControlName="dirreccion_veci" [ngClass]="{ 'is-invalid': submitted && parentForm.controls['dirreccion_veci'].errors }"
                                    placeholder="Direccion"> <label for="dirreccion_veci">Direccion</label>
                                    <div *ngIf="submitted && parentForm.controls['dirreccion_veci'].errors" class="invalid-feedback">
                                       <div *ngIf="parentForm.controls['dirreccion_veci'].errors?.['required']">(*) Campo Obligatorio!</div>
                                       <div *ngIf="parentForm.controls['dirreccion_veci'].errors?.['pattern']">Solo letras y Numeros sin #</div>
                                     </div>
                                 </div>
                           </div>
                           <div class="col-md-6">
                              <p>Debe adjuntar alguna evidencia de luz o agua para verificar su veracidad.</p>
                              <div class="col-sm-12">
                                <input class="form-control" type="file" accept=".jpg" id="evidencia" formControlName="evidencia" [ngClass]="{ 'is-invalid': submitted && parentForm.controls['evidencia'].errors }">
                                <div *ngIf="submitted && parentForm.controls['evidencia'].errors" class="invalid-feedback">
                                 <div *ngIf="parentForm.controls['evidencia'].errors?.['required']">(*) Campo Obligatorio!</div>
                               </div>
                              </div>
                            </div>                            
                           <div class="col-md-1 mt-1">
                              <label for="avatar" class="form-label">Avatar</label>   
                              <select   class="form-control" formControlName="selectedAvatar" (change)="onChangeAvatar()">
                                <option *ngFor="let avatar of avatars" [value]="avatar" >{{ avatar }}</option>
                              </select>
                            </div>
                            <div *ngIf="parentForm.controls['selectedAvatar'].value" class="col-md-2 mt-1 mr-3">
                              <img [src]="'/assets/img/avatars/'+selectedAvatar" alt="Avatar" class="avatar-image">
                            </div>
                           <div class="col-12">
                              <button class="btn btn-primary w-100" type="submit" (click)="onSubmit()">Crear Cuenta</button>
                           </div>
                           <div class="col-12">
                              <p class="small mb-0 text-center">Ya tienes cuenta? <a routerLink="/login">Iniciar Sesion</a></p>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</main>