<main id="main" class="main">
    <div class="pagetitle">
       <h1>Proyectos</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
             <li class="breadcrumb-item">Administar</li>
             <li class="breadcrumb-item active">Proyectos</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Proyectos</h5>
                    <p>Aqui se podra Editar <i class="ri-edit-2-line"></i> , Eliminar  <i class="ri-delete-bin-2-line"></i>  y Cerrar <i class="ri-eye-close-line"></i> los Proyectos.</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Accion</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>luminarias led</td>
                                <td>Abierto</td>
                                <td>
                                <button type="button" class="btn btn-success"><i class="ri-edit-2-line"></i></button> 
                                <button type="button" class="btn btn-danger"><i class="ri-delete-bin-2-line"></i></button> 
                                <button type="button" class="btn btn-warning"><i class="ri-eye-close-line"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Arreglo de calles</td>
                                <td>Abierto</td>
                                <td>
                                <button type="button" class="btn btn-success"><i class="ri-edit-2-line"></i></button> 
                                <button type="button" class="btn btn-danger"><i class="ri-delete-bin-2-line"></i></button> 
                                <button type="button" class="btn btn-warning"><i class="ri-eye-close-line"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Arreglo techumbre</td>
                                <td>Abierto</td>
                                <td>
                                <button type="button" class="btn btn-success"><i class="ri-edit-2-line"></i></button> 
                                <button type="button" class="btn btn-danger"><i class="ri-delete-bin-2-line"></i></button> 
                                <button type="button" class="btn btn-warning"><i class="ri-eye-close-line"></i></button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>                    
                    <div class="d-flex justify-content-end mt-3">
                        <button type="button" class="btn btn-primary" routerLink="/admin/representante/nvo-proy">
                           Nueva Proyecto <i class="ri-newspaper-line"></i>
                        </button>
                     </div>
                    </div>
                </div>
            </div>
       </div>
    </section>
 </main>