<header id="header" class="header fixed-top align-items-center">
    <div class="d-flex">
      <div class="p-2 flex-grow-1">
        <a class="navbar-brand" style="color:#012970">
          <h3>Junt<i class="bi bi-arrow-up-left-circle-fill"></i> a UnClick</h3>
        </a>
      </div>
      <div class="p-2 flex-grow-1"></div>
      <div class="ms-auto p-2">
        <button class="btn btn-outline-danger" routerLink="/login">
          <i class="bi bi-box-arrow-right"></i> Atrás
        </button>
      </div>
    </div>
  </header>
  
  <main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4 hola">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Restablecer Contraseña</h5>
                  </div>
                  <form class="row g-3" [formGroup]="resetpass">
                    <div class="col-12" >
                      <label for="yourUsername" class="form-label">Rut</label>
                      <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend">
                                <i class="bi bi-person-circle"></i>
                            </span>
                            <input type="text" formControlName="rut" class="form-control" id="rut" (input)="formatearRut($event)" [ngClass]="{ 'is-invalid': submit && resetpass.controls['rut'].errors }" placeholder="Ingrese Rut">
                            <div *ngIf="submit || resetpass.controls['rut'].errors" class="invalid-feedback">
                                <div 
                                *ngIf="resetpass.controls['rut'].errors?.['required']">(*) Campo Obligatorio!
                                </div>
                            </div>
                      </div>
                    </div>
                    <div class="col-12" >
                      <label for="yourPassword" class="form-label">
                            Correo Electronico
                      </label>
                      <input type="text" formControlName="correo_electronico" class="form-control" id="correo_electronico" [ngClass]="{ 'is-invalid': submit && resetpass.controls['correo_electronico'].errors }" placeholder="Ingrese correo electronico">
                      <div *ngIf="submit || resetpass.controls['correo_electronico'].errors" class="invalid-feedback">
                         <div 
                         *ngIf="resetpass.controls['correo_electronico'].errors?.['required']">(*) Campo Obligatorio!
                         </div>
                         <div *ngIf="resetpass.controls['correo_electronico'].errors?.['pattern']">Porfavor debe ingresar un correo valido!
                        </div>
                      </div>
                    </div>
                    <div class="col-12" > 
                      <button class="btn btn-primary w-100" type="submit" (click)="restablecerContrasenia()">Restablecer</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Ya tienes cuenta? <a href="login" style="text-decoration: underline; color: blue;">Iniciar Sesion</a></p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  