
.alinear {
    width: 350px;
    height: 150px;
    margin: 10px;
    text-align: center;
    justify-content: center;
}

@media (max-width: 900px){
    .container {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .alinear{
        margin-bottom: 100px;
        justify-content: center;
    }
}
