<main id="main" class="main">
    <div class="pagetitle">
       <h1>Valoracion</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
             <li class="breadcrumb-item active">Menú</li>
             <li class="breadcrumb-item active">Valoración</li>
          </ol>
       </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Danos tu Opinion</h5>
                        <form>
                            <div class="row mb-3">
                                <div class="row mb-3">
                                    <div class="col-sm-12"><textarea class="form-control" style="height: 100px" placeholder="Escribe Aqui"></textarea></div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Enviar Opinion</label>
                                        <div class="col-sm-10 text-end">
                                        <button type="submit" class="btn btn-primary"><i class="ri-send-plane-2-fill"></i></button>
                                    </div>
                                </div>
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
