<main id="main" class="main">
    <div class="pagetitle">
       <h1>Solicitudes</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
             <li class="breadcrumb-item">Administar</li>
             <li class="breadcrumb-item active">Solicitudes</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Solicitudes</h5>
                        <p>Aqui se muestran todas las Solicitudes de los vecinos.</p>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Vecino</th>
                                    <th scope="col">Asunto</th>
                                    <th scope="col">Accion</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">21/02/2023</th>
                                    <td>Juan</td>
                                    <td>cambio de barrio</td>
                                    <td>
                                     <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#Respuesta">Responder <i class="ri-auction-fill"></i></button>
                                     <div class="modal fade" id="Respuesta" tabindex="-1">
                                        <div class="modal-dialog modal-fullscreen">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title">Resolver Solicitud</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body"> Aqui iran los recuadros para responder</div>
                                                <div class="modal-footer"> 
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button> 
                                                    <button type="button" class="btn btn-success">Responder <i class="ri-auction-fill"></i></button></div>
                                            </div>
                                        </div>
                                    </div>
                                    </td>   
                                </tr>
                            </tbody>
                        </table>                    
                    </div>
                </div>
            </div>
       </div>
    </section>
 </main>