.imagen-proyecto {
    width: 500px; 
    height: 180px;
    
    @media (max-width: 576px) {
      width: 100%; 
    }
  }
  .fecha-proyecto {
    @media (max-width: 576px) {
      position: static; 
      margin-top: 1rem; 
    }
  }  