<main id="main" class="main">
  <div class="pagetitle">
     <h1>Miembros</h1>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
           <li class="breadcrumb-item">Administrador</li>
           <li class="breadcrumb-item active">Miembros</li>
        </ol>
     </nav>
  </div>
  <section class="section">
     <div class="row">
        <div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">Miembros</h5>
                  <p>Aqui se podra Editar <i class="ri-user-settings-line"></i> y Eliminar <i class="ri-user-unfollow-line"></i> a los Miembros de la junta vecinal.</p>
                  <table class="table table-bordered">
                      <thead>
                          <tr>
                              <th scope="col">Correo</th>
                              <th scope="col">Nombres</th>
                              <th scope="col">Apellidos</th>
                              <th scope="col">Celular</th>
                              <th scope="col">Domicilio</th>
                              <th scope="col">Accion</th>

                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let vecino of listVecinos">
                              <td>{{ vecino.correo_electronico }}</td>
                              <td>{{ vecino.primer_nombre }} {{vecino.segundo_nombre}}</td>
                              <td>{{ vecino.primer_apellido }} {{ vecino.segundo_apellido }}</td>
                              <td>{{ vecino.telefono }}</td>
                              <td>{{ vecino.direccion }}</td>
                              <td>
                                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#disablebackdrop" (click)="seleccionarVecino(vecino.rut_vecino)">
                                      <i class="ri-user-settings-line"></i>
                                    </button>

                                    <div class="modal fade" id="disablebackdrop" tabindex="-1" data-bs-backdrop="false">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title">Editar Miembro</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                            <form class="row g-3" >
                                              <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Primer Nombre" [(ngModel)]="vecinoSeleccionado.primer_nombre">
                                              </div>
                                              <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Segundo Nombre" [(ngModel)]="vecinoSeleccionado.segundo_nombre">
                                              </div>
                                              <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Primer Apellido" [(ngModel)]="vecinoSeleccionado.primer_apellido">
                                              </div>
                                              <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Segundo Apellido" [(ngModel)]="vecinoSeleccionado.segundo_apellido">
                                              </div>
                                              <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Direccion" [(ngModel)]="vecinoSeleccionado.direccion">
                                              </div>
                                              <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Telefono" [(ngModel)]="vecinoSeleccionado.telefono">
                                              </div>
                                              <div class="col-md-12">
                                                <input type="email" class="form-control" placeholder="Correo" [(ngModel)]="vecinoSeleccionado.correo_electronico">
                                              </div>
                                              <div class="col-md-6">
                                                <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="vecinoSeleccionado.contrasenia">
                                              </div>
                                              <div class="col-md-6">
                                                <input type="password" class="form-control" placeholder="Repetir Contraseña">
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"(click)="salir()">Salir</button>
                                                <button type="submit" class="btn btn-primary" (click)="updateVecinos(vecinoSeleccionado)">Editar</button>
                                              </div>
                                            </form >
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  <button type="button" class="btn btn-danger" (click)="eliminarVecino(vecino.rut_vecino)"><i class="ri-user-unfollow-line"></i></button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  </div>
              </div>
          </div>
     </div>
  </section>
</main>
