

<main id="main" class="main">
  <div class="pagetitle">
    <h1 class="display-4">Bienvenido</h1>
    <p class="lead">Hoy es un nuevo día para la junta vecinal</p>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Publicaciones</h5>
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2500">
              <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let publication of publications; let i = index" [ngClass]="{ 'active': i === 0 }">
                  <div class="d-flex justify-content-center">
                    <img [src]="imagenUrls[publication.ruta_imagen]" class="d-block w-75 img-fluid" alt="Imagen">
                  </div>
                  <div class="carousel-caption d-md-block">
                    <h5>{{ publication.nombre }}</h5>
                    <p>{{ publication.descripcion }}</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev custom-carousel-button" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next custom-carousel-button" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
 